dbal:
	driver: mysqli
	host: mysql
	user: monitoring
	password: monitoring
	dbname: monitoring
	connectionTz: '+02:00'

rabbitmq:
	connection:
		host: rabbitmq
		port: 5672
		user: 'monitoring'
		password: 'monitoring'
		vhost: 'monitoring'

console:
	url: http://monitoring.v.peckadesign.com

includes:
  - env.php
